.footer{
    background-color: rgb(12, 12, 12);
    color: white;
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0px;
  
    padding: 20px;
}
.footer ul li{
    list-style-type: none; 
    padding-left: 0%;
    margin-left: 0%;
}
.footer-help a{
    text-decoration: none;
    list-style-type: none; 
    color: white;
}