<div class="footer">
    <div class="footer-help">
        <span>About</span>
        <div>
            <a href="#">Contect Us</a>
            <br>
            <a href="#">About Us</a>
            <br>
            <a href="#">Careers</a>
            <br>
            <a href="#">GCC Story</a>
        </div>
    </div>
    <div class="footer-help">
        <span>Help</span>
        <div>
            <a href="#">Payments</a>
            <br>
            <a href="#">Shipping</a>
            <br>
            <a href="#">Cancellation & Return</a>
        </div>
    </div>
    <div>
        <span>Mail Us</span>
        <p>GCC Products Internet Limited,<br>
            Mjr Building Khajaguda X road,<br>
            Gachibowli, Hyderabad<br>
            Pincode:- 500032
        </p>
    </div>
    <div>
        <span>Register Office Address</span>
        <p>GCC Products Internet Limited,<br>
            Mjr Building Khajaguda X road,<br>
            Gachibowli, Hyderabad<br>
            Pincode:- 500032
        </p>
    </div>
</div>