.signup-container {
    display: flex;
    justify-content: center;
    margin-left: 800px;

}

.signup-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}